

  body {
    font-family: "Metal Gear", sans-serif;
    src:  url('../font/MetalGear.woff2') format('woff2'),
         url("../font/MetalGear.woff") format('woff');
        
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    color: whitesmoke;
    background-image: url("../images/alex-voysey-mgs2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
.character {
    
    display: inline-block;
    width: 150px;
    height: 164px;
    background: #2db34a;
    border: 3px solid purple;
  }

.character-name {
    text-align: center;
}

.character-image {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 4px;
}
img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
  }
.character-health {
    text-align: center;
}

.enemies-row .character {
  background: red;
  border: 2px solid black;
}

.defender-row .character {
  background: purple;
  border: 3px solid green;
}

  #attack-button {
    width: 100px;
  }